footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 11rem;
    .social-links{
        mat-icon{
            margin: 2rem;
        }
    }
    .footer-links a{
        margin: 2rem;
    }
    .copyright{
        margin: 2rem;
    }
}