<footer>
    <div class="social-links">
        <a href=""><mat-icon aria-hidden="false" aria-label="facebook icon">facebook</mat-icon></a>
        <a href=""><mat-icon aria-hidden="false" aria-label="reddit icon">reddit</mat-icon></a>
        <a href=""><mat-icon aria-hidden="false" aria-label="snapchat icon">snapchat</mat-icon></a>
    </div>
    <div class="footer-links">
        <a href="">About</a>
        <a href="">Contact us</a>
        <a href="">Delivery</a>
        <a href="">Terms of use</a>
        <a href="">Privacy policy</a>
    </div>
    <div class="copyright">
        <h3> <mat-icon aria-hidden="false" aria-label="copyright icon">copyright</mat-icon>2025 Bosch Digital</h3>
    </div>
</footer>