<footer class="footer">
    <div class="social-links">
        <a href="facebook.com" target="_blank"><mat-icon>facebook</mat-icon></a>
        <a href="instagram.com" target="_blank"><mat-icon>photo_camera</mat-icon></a>
        <a href="reddit.com" target="_blank"><mat-icon>chat</mat-icon></a>
    </div>
    <div class="footer-links">
        <a href="">About</a>
        <a href="">Contact</a>
        <a href="">Delivery</a>
        <a href="">Terms of use</a>
        <a href="">Privacy policy</a>
    </div>
    <div class="trademark">
        <span>&copy; 2025 <strong>Bosch</strong></span>
    </div>
</footer>