<!-- <table class="cart-table">
    <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td><img src="../../assets/shoes.webp" alt="" class="product-image"></td>
        <td>Shoes</td>
        <td>1</td>
        <td>12,00$</td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td><img src="../../assets/shoes.webp" alt="" class="product-image"></td>
        <td>Shoes</td>
        <td>1</td>
        <td>12,00$</td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td><img src="../../assets/shoes.webp" alt="" class="product-image"></td>
        <td>Shoes</td>
        <td>1</td>
        <td>12,00$</td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td><img src="../../assets/shoes.webp" alt="" class="product-image"></td>
        <td>Shoes</td>
        <td>1</td>
        <td>12,00$</td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td><img src="../../assets/shoes.webp" alt="" class="product-image"></td>
        <td>Shoes</td>
        <td>1</td>
        <td>12,00$</td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td><img src="../../assets/shoes.webp" alt="" class="product-image"></td>
        <td>Shoes</td>
        <td>1</td>
        <td>12,00$</td>
        <td><button>Delete</button></td>
    </tr>
</table>

<div *ngIf="cartItems.length > 0; else emptyCart"></div>
<div class="price-total"><h1>TOTAL 100,00$</h1></div> -->

<table class="cart-table" *ngIf="cartItems.length > 0; else emptyCart">
  <tr>
    <th>Product</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let item of cartItems; let i = index" class="cart-item">
    <td><img src="../../assets/shoes.webp" alt="" class="product-image" /></td>
    <td>{{ item.name }}</td>
    <td>XX</td>
    <td>{{ item.price }}</td>
    <td><button (click)="removeItem(i)">Delete</button></td>
  </tr>
</table>

<ng-template #emptyCart>
  <p>Your cart is empty.</p>
</ng-template>
