<table class="cart-table">
    <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td><img src="../../assets/shoes.webp" alt="" class="product-image"></td>
        <td>Shoes</td>
        <td>1</td>
        <td>12,00$</td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td><img src="../../assets/shoes.webp" alt="" class="product-image"></td>
        <td>Shoes</td>
        <td>1</td>
        <td>12,00$</td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td><img src="../../assets/shoes.webp" alt="" class="product-image"></td>
        <td>Shoes</td>
        <td>1</td>
        <td>12,00$</td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td><img src="../../assets/shoes.webp" alt="" class="product-image"></td>
        <td>Shoes</td>
        <td>1</td>
        <td>12,00$</td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td><img src="../../assets/shoes.webp" alt="" class="product-image"></td>
        <td>Shoes</td>
        <td>1</td>
        <td>12,00$</td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td><img src="../../assets/shoes.webp" alt="" class="product-image"></td>
        <td>Shoes</td>
        <td>1</td>
        <td>12,00$</td>
        <td><button>Delete</button></td>
    </tr>
</table>

<div class="price-total"><h1>TOTAL 100,00$</h1></div>