.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.profile-card,
.orders-card {
    width: 50%;
    padding: 20px;
    margin: 10px 0;
}

table {
    width: 100%;
    margin-top: 10px;
    th{
        text-align: center;
    }

}