<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" opened class="drawer">
    <h3>Filters</h3>

    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="searchText" placeholder="Enter name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sort By</mat-label>
      <mat-select [(ngModel)]="sortBy">
        <mat-option value="name">Name</mat-option>
        <mat-option value="price">Price</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="selectedCategory">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-drawer>

  <mat-drawer-content class="content">
    <mat-grid-list
      cols="4"
      rowHeight="1:1"
      gutterSize="10px"
      class="grid-container"
    >
      <h1>Best selling</h1>
      <mat-grid-tile *ngFor="let product of filteredItems()" class="grid-title">
        <app-card [product]="product"></app-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
